img {
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: lightgrey;
  width: 100%;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    .hamburger {
      margin: 15px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    ul {
      li {
        display: none;
      }
    }
    .logo {
      height: 30px;
      width: auto;
      align-self: center;
      order: 1;
    }
  }
}
@media (min-width: 705px) {
  .col-1-lg {
    box-sizing: content-box;
    padding: 10px;
    width: 25%;
  }
  .col-2-lg {
    box-sizing: content-box;
    padding: 10px;
    width: 50%;
  }
  .col-3-lg {
    box-sizing: content-box;
    padding: 10px;
    width: 25%;
  }
  header {
    width: auto;
    nav {
      flex-direction: column;
      .hamburger {
        display: none;
      }
      ul li {
        display: block;
        margin-top: 50px;
      }
      .logo {
        display: block;
        order: 0;
        align-self: flex-start;
      }
    }
  }
}
a {
  text-decoration: none;
}
.line {
  background-color: black;
  height: 2px;
  width: 25px;
}

/* .container { display: flex; flex-wrap: wrap;}
.col-1 { box-sizing: content-box; width: 8.3%; }
.col-2 { box-sizing: content-box; width: calc(8.3% * 2); }
.col-3 { box-sizing: content-box; width: calc(8.3% * 3); }
.col-4 { box-sizing: content-box; width: calc(8.3% * 4); }
.col-5 { box-sizing: content-box; width: calc(8.3% * 5); }
.col-6 { box-sizing: content-box; width: calc(8.3% * 6); }
.col-7 { box-sizing: content-box; width: calc(8.3% * 7); }
.col-8 { box-sizing: content-box; width: calc(8.3% * 8); }
.col-9 { box-sizing: content-box; width: calc(8.3% * 9); }
.col-10 { box-sizing: content-box; width: calc(8.3% * 10); }
.col-11 { box-sizing: content-box; width: calc(8.3% * 11); }
.col-12 { box-sizing: content-box; width: calc(8.3% * 12); } 
​
​
@media (min-width: 700px) {
    .col-tablet-1 { box-sizing: content-box; width: 8.3%; }
    .col-tablet-2 { box-sizing: content-box; width: calc(8.3% * 2); }
    .col-tablet-3 { box-sizing: content-box; width: calc(8.3% * 3); }
    .col-tablet-4 { box-sizing: content-box; width: calc(8.3% * 4); }
    .col-tablet-5 { box-sizing: content-box; width: calc(8.3% * 5); }
    .col-tablet-6 { box-sizing: content-box; width: calc(8.3% * 6); }
    .col-tablet-7 { box-sizing: content-box; width: calc(8.3% * 7); }
    .col-tablet-8 { box-sizing: content-box; width: calc(8.3% * 8); }
    .col-tablet-9 { box-sizing: content-box; width: calc(8.3% * 9); }
    .col-tablet-10 { box-sizing: content-box; width: calc(8.3% * 10); }
    .col-tablet-11 { box-sizing: content-box; width: calc(8.3% * 11); }
    .col-tablet-12 { box-sizing: content-box; width: calc(8.3% * 12); }
​
} */
