* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 250px;
    width: 500px;
    background-color: lightcoral;
    border: solid 3px black;
    border-radius: 10%;
}

.sq1 {
    height: 100px;
    width: 100px;
    border: solid 2px black;
    background-color: orange;
    border-radius: 15%;
}
.sq2 {
    height: 100px;
    width: 75px;
    border: solid 2px black;
    background-color: orange;
    border-radius: 15%;
}

.sq3 {
    height: 100px;
    width: 150px;
    border: solid 2px black;
    background-color: orange;
    align-self:  flex-end;
    border-radius: 15%;
}

.sq4 {
    height: 100px;
    width: 100px;
    border: solid 2px black;
    background-color: orange;
    border-radius: 15%;
}